

#navbar{
    width: 100%;
    z-index: 100000;
    position: fixed;
    background-color: #080a36;
    background-image: linear-gradient(180deg,#080a36,#181d82);
}

.navbar-brand{
    color: white;
}
#logo{
    background-color: #fff;
   
    height:50px;
    width:50px;
}
.nav-link{
    color: white;
    /* background-color: rgba(204, 222, 255, 0.162); */
    margin-left: 20px;
    /* padding: 8px ;
  border-radius: 30px; */
}



#home{
    /* margin-top: 10vh; */
    width: 100%;
    /* background: #abc; */
}
#slider{
    /* margin-top: 10vh; */
    /* position: absolute; */
    /* top: 10vh; */
    padding-top: 10vh;
}

.carousel-item h1{
    position: absolute;
    z-index: 44;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #00000070;
    padding: 20px;
    border-radius: 20px;
}

#whatweOffer{
    width: 100%;

}
#whatweOffer h2{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
#offerContainer{
    display: flex;
   justify-content: center;
    /* background-color: #fff; */
}
.card{
    margin: 10px;
}


#mission{
    padding: 50px 20px;
    background-image: linear-gradient(90deg, rgb(39, 75, 116),rgb(49, 72, 123));
}
#mission span{
    font-family: cursive;
    font-size: 35px;
}
#mission h1{
    font-size: 45px;
    text-align: center;
    color: white;
}
#mission p{
    text-align: center;
    color: white;
    font-size: 20px;
}

#missionMob{
    display: none;
}
#whatsapp{
    position: fixed;
    bottom: 50px;
    right: 0px;
z-index: 300;
}

#whatsapp a img{
    width: 50px;
    margin-bottom: 50px;

    
}


#faq{
    padding: 20px;
    margin-top: 40px;
    background-color: rgb(170, 182, 206);
}
#faq h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
   
}


#footer{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* padding: auto; */
    /* margin-top: 100px; */
    padding-top: 50px;
    background-color: rgb(98, 102, 108);
    color: white;
}


.footer1 img{
    width: 150px;
}
.footer1 ul {
    /* background-color: red; */
    display: flex;
    font-size: 30px;
    /* margin-left: 0; */
    padding-left: 0;
   
}
.footer1 ul li a i{
    color: rgb(255, 255, 255);
}
.subfooter{
    text-align: left;
}
.subfooter h1{
    text-align: left;
    font-size: 30px;
}
.subfooter ul{
    text-align: left;
    /* background-color: red; */
    padding-left: 0px;
}
.subfooter ul li {
    list-style: none;
    padding: 5px;
   text-align: left;
   padding-left: 0px;
}
.subfooter ul li a{
    color: white;
    padding: 3px 10px;
    border-radius: 10px;
   
    /* text-decoration: none; */
 
}
.subfooter ul li a:hover{
    color: rgb(6, 13, 87);
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 10px;
}

.footer4 iframe{
    width: 300px;
    height: 200px;
    margin: 20px;
}


#footerCopy{
    text-align: center;
    color: white;
    background-color: black;
    padding: 5px;
    height: auto;
}




/* about */

#about{
    display: flex;
    margin: 100px 30px;
}
#aboutText{
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #181d82;
}
#aboutText h1{
font-family: cursive;
font-size: 50px;
text-decoration: underline;
}
#aboutText p{
    font-size: 20px;
}
#aboutText button {
     padding: 10px 30px;
     border-radius: 25px;
     background-color: #181d82;
     color: white;
     border: none;
}
#aboutText button a{
    text-decoration: none;
    color: white;
}
#aboutText button:hover{
    background-color: #3c3f6e;
}
#aboutimg{
    width: 50%;
}
#aboutimg h5, p{
  color: rgb(3, 4, 86);
}