@media (max-width: 768px) {

#slider{
    padding-top: 9vh;
    /* height: 30vh; */
}

.carousel-inner{
    height: 20vh;
}
.carousel-inner img{
    height: 20vh;
    /* width: 200%; */
}
.carousel-item h1{
    font-size: 14px;
    padding: 5px;
}

#mission {
    display: none;
}
#missionMob{
    display: block;
    background-image: linear-gradient(90deg, rgb(39, 75, 116),rgb(14, 37, 87));
color: white;
    padding: 10px;
    
}
#missionMob h1{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
}
#missionMob p{
    text-align: center;
    font-size: 10px;
}

#offerContainer{
    display: flex;
    flex-direction: column;
   
}
.card{
    margin: 20px auto;

}


/* faq */
#faq h1{
    font-size: 30px;
}

/* footer */
#footer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    background-image: linear-gradient(90deg, rgb(39, 75, 116),rgb(33, 52, 92));
  
}

.footer1 img{
    width: 100px;
}


.subfooter h1{
    text-align: left;
    font-size: 15px;
}
.footer2 ul li,.footer3 ul li {
   font-size: 10px;
    padding: 5px;
   text-align: left;
   padding-left: 0px;
}


#about{
    display: flex;
    flex-direction: column;
    
}

#aboutimg{
    width: 100%;
}

#aboutText{
    width: 100%;
}
#aboutText p{
    font-size: 15px;
}
#aboutimg h5, p{
    color: rgb(4, 0, 33);
    font-size: 13px;
    
  }
}